.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .item-nav {
    margin: 0 15px;
    text-decoration: none;
    color: #282c34;
  }
  margin-bottom: 15px;
}

.App-link {
  color: #09d3ac;
}

.container {
  &.game {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    .col {
      width: 33.33%;
      height: 200px;
      padding: 5px;
      transition: ease-in 0.35s;
      transform: rotateY(0deg);
      p {
        user-select: none;
        background-color: #282c34;
        color: #282c34;
        transform: rotateY(180deg);
        transition: background-color  ease 0.25s;
        margin: 0;
      }
      &.active-item{
        transform: rotateY(180deg);
        p{
          background-color: transparent;
        }
      }
    }
    p {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      border: 1px solid;
      border-radius: 10px;
    }
  }
}
