.won-images{
  justify-content: center;
  .gif-item {
    display: inline-flex;
    margin: 0 5px;
  }
}
.won-container{
  .wrap{
    min-height: 150px;
  }
}
.rate-container,
.won-container{
  h3 {
    text-transform: uppercase;
  }
}
.rate-container{
  .row{
    min-height: 150px;
  }
  .gif-item {
    display: inline-flex;
    margin: 0 5px;
  }
}